<form action="/animals/<%= @animal.id %>" method="post">
  <input type="hidden" name="id" value= <%= @animal.id %>>
  <input type="hidden" name="admission_date" value= <%= @animal.admission_date %>>

  <label for="name">First Name:</label>
  <input type="text" name="name" value="<%= @animal.name %>">

  <label for="type">Type:</label>
  <input type="text" name="type" value="<%=@animal.type %>">

  <label for="breed">Breed:</label>
  <input type="text" name=breed value="<%= @animal.breed %>">

  <label for="trained">Trained?:</label>
  <select name="trained">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>

    <label for="health">Healthy?:</label>
    <select name="health">
      <option value="true">true</option>
      <option value="false">false</option>

      </select>

  <input type="submit" value="Add pet">
</form>
