<h1>The Pet Shelter</h1>

<p>Name: <%= @animal.name() %></p>
<p>Type: <%= @animal.type() %></p>
<p>Breed: <%= @animal.breed() %></p>
<p>Admitted: <%= @animal.admission_date()%></p>
<p>Trained: <%= @animal.trained()%></p>
<p>Healthy: <%= @animal.health()%></p>

<p><a href="/animals/<%= @animal.id %>/edit">Edit pet</a></p>

<form method="post" action="/animals/<%= @animal.id%>/delete">
  <input class="submit" type="submit" value="Delete"/>
</form>
